@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
}
.container{
    max-width: 1180px;
    width: 80%;
    margin: auto;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.header h2{
    font-size: 70px;
}
.main{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main div{
    height: 200px;
    width: 200px;
    font-size: 90px;
    border: 5px dotted cornflowerblue;
    text-align: center;
}
.footer{
    display: flex;
    justify-content: space-between
}
.footer .footer-right p{
    font-size: 40px;
}
.footer-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-left input{
    height: 120px;
    width: 180px;
    text-align: center;
    border: 6px dotted;
    font-size: 50px;
    outline: none;
}
.footer-left button{
  padding: 20px 25px;
  font-size: 25px;
}